                <div class="text-center mt-4">
                    <h3><span>Donate</span></h3>
                    <a href="https://ceneka.net/mp/d/paletaeaa" target="_blank"><img src="mercadopago.png"
                            style="width:100px;display: inline-block" alt="MercadoPago"></a>
                    <a href="https://streamlabs.com/paleta_ar/tip" target="_blank"><img src="paypal.png"
                            style="width:100px;display: inline-block" alt="Paypal"></a>
                </div>
