    <title>{{title}}</title>

    <meta charset="UTF-8">
    <meta name="title" content="{{title}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Paletools is a tool to help you with your everyday tasks in EA FC Ultimate Team. It consists of a set of plugins that will assist you in sniping, completing SBCs, opening multiple packs with a single click and keyboard shortcuts for differents tasks among other things.">

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description"
        content="Paletools is a tool to help you with your everyday tasks in EA FC Ultimate Team. It consists of a set of plugins that will assist you in sniping, completing SBCs, opening multiple packs with a single click and keyboard shortcuts for differents tasks among other things.">
    <meta property="og:image" content="https://pale.tools/logo.png?v26">
    <meta property="og:url" content="https://pale.tools">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Paletools">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description"
        content="Paletools is a tool to help you with your everyday tasks in EA FC Ultimate Team. It consists of a set of plugins that will assist you in sniping, completing SBCs, opening multiple packs with a single click and keyboard shortcuts for differents tasks among other things.">
    <meta name="twitter:image" content="https://pale.tools/logo.png?v26">
    <meta name="twitter:site" content="@paleta">
    <meta name="twitter:creator" content="@paleta">

    <link rel="icon" type="image/ico" href="{{assetPrefix}}favicon.ico">
    <link rel="stylesheet" href="{{assetPrefix}}fifa/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

{{> analytics.html}}
{{structuredData}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8575563380110604"
        crossorigin="anonymous"></script>
