    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Paletools",
      "url": "https://pale.tools",
      "description": "Paletools is a tool to help you with your everyday tasks in EA FC Ultimate Team. It consists of a set of plugins that will assist you in sniping, completing SBCs, opening multiple packs with a single click and keyboard shortcuts for different tasks among other things.",
      "image": "https://pale.tools/logo.png?v26",
      "sameAs": [
        "https://twitter.com/paleta"
      ]
    }
    </script>

